<div class="artist-container">
  <form [formGroup]="searchArtistForm" class="search-form">
    <div class="search-container">
      <input type="text" formControlName="artistName" placeholder="Search for artists by name">
      <button type="submit">Search</button>
    </div>
  </form>

  <div class="card-container">
    <div class="card" *ngFor="let artist of artists" (click)="routingService.goToAlbumList(artist.id)">
      <img [src]="artist.picture_medium" alt="Artist">
      <div class="info">
        <p>{{ artist.name }}</p>
        <p>Number of Albums: {{ artist.nb_album }}</p>
        <p>Number of Fans: {{ artist.nb_fan }}</p>
      </div>
    </div>
  </div>
</div>